extends layout

block content
    div.chess
        - const eight = [0,1,2,3,4,5,6,7];
        h1 hello world!
        button New Game
        table.board
            for x of eight 
                tr.square  
                    for y of eight
                        if (x+y)%2
                            td.square.black #{x},#{y} 
                        else
                            td.square.white #{x},#{y} 