body {
  background-color: darkseagreen;
  padding: 5em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: rgb(255, 0, 0);
}

img {
  width: 100%
}

.chess {
  text-align: left
}

.chess .board {
  border: .5em solid black;
  table-layout: fixed;
  border-collapse: collapse;
}

.board .square {
  border: .2em solid black;
  width:10em;
  height:10em;
}

.square .black {
  background-color: chocolate;
}

.square .white {
  background-color: white;
}