body {
  background-color: darkseagreen;
  padding: 5em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: rgb(255, 0, 0);
}

img {
  width: 100%
}

chess